.heroAlbumWrapper {
  background-image: url(../assets/nebulusbackgrounddarkened_MB.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  width: 90%;
  max-width: 30em;
  margin: 0 auto;
  padding-bottom: 2em;
  margin-bottom: 3.5em;
}

.albumCover {
  display: block;
  position: relative;
  margin: 0.2em auto;
}

.albumTitle {
  position: relative;
  font-family: "Sign45", sans-serif;
  color: white;
  letter-spacing: 1.5px;
  text-align: left;
  padding-top: 0.5em;
  margin-bottom: 0.2em;
}

.albumTitle::after {
  content: "";
  display: block;
  height: 0.5em;
  width: 5em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  background-color: #ffe013;
}

.albumSubhead {
  font-size: calc(18px + 0.1vw);
  font-family: "Oleo Script Swash Caps", cursive;
  letter-spacing: 1px;
  margin: 0;
}

.listenButton {
  display: block;
  position: relative;
  text-align: center;
  background-color: #ffe013;
  max-width: 14em;
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
  margin-top: 0.6em;
  padding: 0.2em 0.5em;
  transition: 0.2s;
}

.listenButton:hover {
  letter-spacing: 0.6px;
  transform: scale(1.05);
}

/* Image hover and overlay */
.imageWrapper {
  cursor: pointer;
  position: relative;
}

.imageWrapper:hover .imageOverlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlayIcon {
  color: white;
  font-size: 3em;
  pointer-events: none;
}

/* Overlay for full image */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.fullImage {
  width: auto;
  height: auto;
  max-width: 90vw; /* Keeps image from overflowing horizontally */
  max-height: 90vh; /* Keeps image from overflowing vertically */
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: white;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .heroAlbumWrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 50em;
    background-image: url(../assets/nebulusbackgrounddarkened_DT.jpg);
    background-size: contain;
    padding: 1.5em 2em;
  }

  .albumDetails {
    padding: 4em;
  }
}
