body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: cover;
    background: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
