@font-face {
  font-family: "sign45";
  src: url("../fonts/SIGN45.woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Rubik&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "sign45";
}

h2 {
  font-family: "Rubik", sans-serif;
}

p {
  color: white;
  font-family: "Roboto Slab";
}

@media screen and (min-width: 1024px) {
  body {
    background-size: cover;
    background: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}
